<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleLocalizations</key>
	<array>
    	<string>en</string>  <!-- Английский -->
    	<string>ru</string>  <!-- Русский -->
    	<string>uk</string>  <!-- Украинский -->
    	<string>zh</string>  <!-- Китайский -->
    	<string>fr</string>  <!-- Французский -->
    	<string>de</string>  <!-- Немецкий -->
    	<string>es</string>  <!-- Испанский -->
	</array>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-3132483666658391~5252593578</string>
</dict>
</plist>
